USE [AeroSpace]
GO
/****** Object:  Table [dbo].[Airports]    Script Date: 5/6/2026 11:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airports](
	[Airport_ID] [int] IDENTITY(1,1) NOT NULL,
	[Airport_Name] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[Code] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Airport_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 5/6/2026 11:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Booking_ID] [int] IDENTITY(1,1) NOT NULL,
	[Passenger_ID] [int] NOT NULL,
	[Flight_ID] [int] NOT NULL,
	[Seat_ID] [int] NOT NULL,
	[Booking_DateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Booking_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/6/2026 11:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Employee_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Role] [varchar](25) NOT NULL,
	[Email] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flight_Crew]    Script Date: 5/6/2026 11:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight_Crew](
	[Crew_ID] [int] IDENTITY(1,1) NOT NULL,
	[Flight_ID] [int] NOT NULL,
	[Employee_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Crew_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flights]    Script Date: 5/6/2026 11:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flights](
	[Flight_ID] [int] IDENTITY(1,1) NOT NULL,
	[Flight_Number] [varchar](10) NOT NULL,
	[Departure_Airport_ID] [int] NOT NULL,
	[Arrival_Airport_ID] [int] NOT NULL,
	[Departure_DateTime] [datetime] NOT NULL,
	[Arrival_DateTime] [datetime] NOT NULL,
	[Aircraft_Type] [varchar](50) NOT NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Flight_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Flight_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passengers]    Script Date: 5/6/2026 11:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passengers](
	[Passenger_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [varchar](30) NOT NULL,
	[Last_Name] [varchar](30) NOT NULL,
	[Phone_Number] [varchar](15) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Passport_Number] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Passenger_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Passport_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 5/6/2026 11:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[Seat_ID] [int] IDENTITY(1,1) NOT NULL,
	[Flight_ID] [int] NOT NULL,
	[Seat_Number] [varchar](20) NOT NULL,
	[class] [varchar](20) NOT NULL,
	[Available] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Seat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Flights] ADD  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[Seats] ADD  DEFAULT ('Y') FOR [Available]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([Flight_ID])
REFERENCES [dbo].[Flights] ([Flight_ID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([Passenger_ID])
REFERENCES [dbo].[Passengers] ([Passenger_ID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([Seat_ID])
REFERENCES [dbo].[Seats] ([Seat_ID])
GO
ALTER TABLE [dbo].[Flight_Crew]  WITH CHECK ADD FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[Employees] ([Employee_ID])
GO
ALTER TABLE [dbo].[Flight_Crew]  WITH CHECK ADD FOREIGN KEY([Flight_ID])
REFERENCES [dbo].[Flights] ([Flight_ID])
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD FOREIGN KEY([Arrival_Airport_ID])
REFERENCES [dbo].[Airports] ([Airport_ID])
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD FOREIGN KEY([Departure_Airport_ID])
REFERENCES [dbo].[Airports] ([Airport_ID])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([Flight_ID])
REFERENCES [dbo].[Flights] ([Flight_ID])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD CHECK  (([Available]='N' OR [Available]='Y'))
GO
